/.env
/.env.*
/storage/*.key
/storage/logs/*.log
/public/error_log
/public/info.php
/vendor/
/node_modules/
__MACOSX

/node_modules
/public/uploads/
/public/media/
/public/assets/**/*.scss
/public/assets/**/*.png
/public/assets/**/*.jpg
/public/assets/**/*.jpeg
/public/assets/**/*.gif
/public/assets/**/*.webp
/public/flag_icons
/public/storage
*.sql
/storage/*.key
/vendor
.env
.zip
/*.zip
*.txt
!/PATCH_DELETE_MANIFEST.txt
__MACOSX

.DS_Store
